body{
  max-height: 100%;
}
.example-form {
    min-width: 150px;
    max-width: 300px;
    
    background-size: cover;
}

.card{
  display: flex;
  align-items: center;
  max-height: fit-content;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 640px;
  justify-content: center;
  align-items: center;
}

.imagem{
  height: 100px;
  margin-bottom: 50px;
}

.texto{
  font-family: 'Open Sans', sans-serif;
}

button{
  background: #2196F3;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
}
