<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>

<div fxLayout="column" class="flex-box ">
    <mat-card *ngFor="let post of posts" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{encontrarUsuario(post).name}} @{{encontrarUsuario(post).username}}  </mat-card-title>
            <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <p>
            {{post.body}}
            </p>
        </mat-card-content>
        <mat-card-actions class="exemple-button-row">
            <button (click)="carregarPostComentarios(post)" mat-stroked-button color="primary">Comentarios</button>
        </mat-card-actions>
    </mat-card>
</div>
