.flex-box {
    width: 100vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-header-image {
    background-image: url("src/assets/imagens/usuario_foto.png");
    background-size: cover;
}

.example-card {
    max-width: 700px;
    margin-bottom: 20px;
}